<div class="col-md-4">
  <div class="beer">
    <div class="beer-body">
      <h5 class="beer-name">{{ name }}</h5>
      <p class="beer-text">{{ description }}</p>
      {{#if image_url}}
        <img class="beer-img" src="{{ image_url }}" />
      {{/if}}
    </div>
  </div>
</div>